<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Categories</title>
</head>
<body>
<header th:replace="~{problems/problems-index :: problems-header}"></header>
<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/index}">Index</a></li>
            <li class="breadcrumb-item"><a th:href="@{/problems}">Problems</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categories</li>
        </ol>
    </nav>
    <h2 class="mt-4 mb-2">Categories</h2>
    <ol style="font-size: large;" class="ms-4">
        <li th:each="category: ${categories}" class="mb-2">
            <a th:href="@{/problems/categories/{c}(c=${category})}"
               th:text="${#strings.capitalize(category)}">Specific Category</a>
        </li>
    </ol>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>