<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../../static/css/header.css">
    <title th:text="${#strings.capitalize(category)}">Specific Category</title>
</head>
<body>
<header th:replace="~{problems/problems-index :: problems-header}"></header>
<main>
    <p>
        <a th:href="@{/index}">Index</a>&nbsp;&#10219&nbsp;
        <a th:href="@{/problems}">Problems</a>&nbsp;&#10219&nbsp;
        <a th:href="@{/problems/categories}">Categories</a>&nbsp;&#10219&nbsp;
        <span th:text="${#strings.capitalize(category)}">Specific Category</span>
    </p>
    <h2 th:text="${#strings.capitalize(category)}">Specific Category</h2>
    <p>
        <a th:href="@{/problems/categories/{c}/compare-levels(c=${category})}"
           style="font-size: x-large">
            Compare Difficulty Levels
        </a>
    </p>
    <table>
        <thead>
        <tr>
            <th>Difficulty Level</th>
            <th>Number of Problems</th>
            <th>Totals</th>
        </tr>
        </thead>
        <tbody th:with="numbers = ${#numbers.sequence(1, 10, 1)}">
            <tr th:each="level : ${levels}">
                <td th:text="${#strings.capitalize(level)}">Level</td>
                <td>
                    <th:block th:each="number: ${numbers}">
                        <a th:href="@{/problems/generator(category=${category}, level=${level}, number=${number})}"
                           th:text="${number}">Number</a>&nbsp;
                    </th:block>
                </td>
                <td th:text="${countsByLevels.getCountByLevel(level)}">Level Total</td>
            </tr>
        </tbody>
    </table>
    <p>
        <label>Total Problems:
            <span th:text="${countsByLevels.total}" class="value">Total Problems</span>
        </label>
    </p>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>