<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title>Error</title>
</head>
<body>
<header th:replace="~{home/home-index :: home-header}">Some Header</header>
<main>
    <p>
        <a th:href="@{/index}">Index</a>&nbsp;&#10219&nbsp;Error&nbsp;404
    </p>
    <h2>Error&nbsp;404</h2>
    <p class="error-message">
        The page is not found.
    </p>

    <ul>
        <li>Method:
            <!--/*@thymesVar id="method" type="String"*/-->
            <span th:text="${method}" class="value">Method</span>
        </li>
        <li>Path:
            <!--/*@thymesVar id="path" type="String"*/-->
            <span th:text="${path}" class="value">Path</span>
        </li>
    </ul>

</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>