<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title>Error</title>
</head>
<header th:replace="~{home/home-index :: home-header}">Some Header</header>
<main>
    <p>
        <a th:href="@{/index}">Index</a>&nbsp;&#10219&nbsp;Error
    </p>
  <h2>Error</h2>
    <ul>
        <li class="error-message">
            Exception:
            <!--/*@thymesVar id="exception" type="String"*/-->
            <span th:text="${exception}" class="value">Exception</span>
        </li>
        <li>
            Message:
            <!--/*@thymesVar id="message" type="String"*/-->
            <span th:text="${message}" class="value">Message</span>
        </li>
    </ul>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</html>