<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Problems Index</title>
</head>
<body>
<header th:fragment="problems-header" class="container d-flex flex-column align-items-center py-3 mb-4 border-bottom">
    <h1 th:text="#{app-header-name}">Problem Generator</h1>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/problems/form}" class="nav-link px-2">Request Form</a></li>
        <li th:each="category : ${categories}">
            <a th:href="@{/problems/categories/{c}(c=${category})}"
               th:text="${#strings.capitalize(category)}" class="nav-link px-2">Category</a></li>
    </ul>
</header>
<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/index}">Index</a></li>
            <li class="breadcrumb-item active" aria-current="page">Problems</li>
        </ol>
    </nav>
    <h2 class="mt-4 mb-2">Problems</h2>
    <ul style="font-size: large;" class="ms-4">
        <li class="mb-2">
            <a th:href="@{/problems/categories}">Categories</a>
        </li>
        <li class="mb-2">
            <a th:href="@{/problems/counts}">Problem Counts</a>
        </li>
        <li class="mb-2">
            <a th:href="@{/problems/form}">Request Form</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>