<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title>Problem Counts</title>
</head>
<body>
<header th:replace="~{problems/problems-index :: problems-header}"></header>
<main>
    <p>
        <a th:href="@{/index}">Index</a>&nbsp;&#10219&nbsp;
        <a th:href="@{/problems}">Problems</a>&nbsp;&#10219&nbsp;Problem Counts
    </p>
    <h2>Problem Counts</h2>
    <table>
        <thead>
        <tr>
            <th>Difficulty Level</th>
            <th th:each="category: ${categories}"
                th:text="${#strings.capitalize(category)}">Category
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="level: ${levels}">
            <td th:text="${#strings.capitalize(level)}">Level</td>
            <td th:each="category: ${categories}"
                th:text="${counts.getCountByCategoryAndLevel(category, level)}">count
            </td>
        </tr>
        <tr>
            <th>Totals</th>
            <th th:each="category: ${categories}"
                th:text="${counts.getTotalByCategory(category)}">Total
            </th>
        </tr>
        </tbody>
    </table>
    <p>
        <label>Total Problems:
            <span th:text="${counts.total}" class="value">Total Problems</span>
        </label>
    </p>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>