<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title>Problems Index</title>
</head>
<body>
<header th:fragment="problems-header">
    <h1>Problem Generator</h1>
        <nav style="margin: 0">
            <a th:href="@{/problems/form}">Request Form</a>
            <a th:each="category : ${categories}"
               th:href="@{/problems/categories/{c}(c=${category})}"
               th:text="${#strings.capitalize(category)}">Category</a>
        </nav>
</header>
<main>
    <p>
        <a th:href="@{/index}">Index</a>&nbsp;&#10219&nbsp;
        <th:block>Problems</th:block>
    </p>
    <h2>Problems</h2>
    <ul>
        <li>
            <a th:href="@{/problems/categories}">Categories</a>
        </li>
        <li>
            <a th:href="@{/problems/counts}">Problem Counts</a>
        </li>
        <li>
            <a th:href="@{/problems/form}">Request Form</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>