<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title>Index</title>
</head>
<body>
<header th:fragment="home-header">
    <h1 th:text="#{app-header-name}">Problem Generator</h1>
</header>
<main>
    <h2>Index</h2>
    <ul>
        <li>
            <a th:href="@{/problems}">Problems</a>
            <ul>
                <li>
                    <a th:href="@{/problems/categories}">Categories</a>
                    <ol>
                        <li><a th:href="@{/problems/categories/addition}">Addition</a></li>
                        <li><a th:href="@{/problems/categories/subtraction}">Subtraction</a></li>
                        <li><a th:href="@{/problems/categories/multiplication}">Multiplication</a></li>
                        <li><a th:href="@{/problems/categories/division}">Division</a></li>
                    </ol>
                </li>
                <li><a th:href="@{/problems/form}">Request Form</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{/about}">About the program</a>
        </li>
    </ul>
</main>
<footer th:fragment="course-footer">
    <p>
        PROG27545 / Web Application Design and Implementation — Sheridan College, Alexander Tetervak
    </p>
</footer>
</body>
</html>