<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/css/header.css">
    <title>About</title>
</head>
<body>
<header th:replace="~{home/home-index :: home-header}">Some Header</header>
<main>
    <p>
        <a th:href="@{/index}">Index</a>&nbsp;&#10219&nbsp;
        About the program
    </p>
    <h2>About the program</h2>
    <p>
        The web application was developed as an example for a programming course.
        The example is intended for the end of the first quarter of a programming course,
        taught to second-year undergraduate students.
        The example does NOT include using the Session and databases.
    </p>
    <p>The example is implemented using Spring Boot, Thymeleaf, Bootstrap 5.3.8, and Java 25.</p>
    <p>The program code demonstrates the following concepts</p>
    <ul>
        <li>Separation of concerns</li>
        <li>Dependency injection</li>
        <li>Model-view-controller (MVC) architecture</li>
        <li>JUnit 4 testing</li>
        <li>Request parameters and path variables</li>
        <li>User input validation</li>
        <li>Error handling</li>
        <li>Various features of Thymeleaf templates</li>
    </ul>
    <p>The source code is available on <a href="https://github.com/tetervak/ProblemGeneratorStandalone-SpringBoot-W2027">GitHub</a>.</p>
    <p>There are three major code branches:</p>
    <ul>
        <li><a href="https://github.com/tetervak/ProblemGeneratorStandalone-SpringBoot-W2027/tree/main">'main'</a>
            branch is using Bootstrap 5.3.8</li>
        <li><a href="https://github.com/tetervak/ProblemGeneratorStandalone-SpringBoot-W2027/tree/simplest-templates">'simplest-templates'</a>
            branch is using <a href="https://simplecss.org/">Simple.css Framework</a></li>
        <li><a href="https://github.com/tetervak/ProblemGeneratorStandalone-SpringBoot-W2027/tree/multi-language-ui">'multi-language-ui'</a>
            branch demonstrates switching UI language and localization</li>
    </ul>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>