<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Request Form</title>
</head>
<body>
<header th:replace="~{problems/problems-index :: problems-header}"></header>
<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/index}">Index</a></li>
            <li class="breadcrumb-item"><a th:href="@{/problems}">Problems</a></li>
            <li class="breadcrumb-item active" aria-current="page">Request Form</li>
        </ol>
    </nav>
    <h2 class="mt-4 mb-4">Request Form</h2>
    <form th:action="@{/problems/form/confirm}"
          th:object="${requestForm}"
          method="get">
        <div class="mb-3">
            <div class="row align-items-baseline">
                <div class="col-auto">
                    <label for="number-of-problems-input" class="form-label">Number of Problems:</label>
                </div>
                <div class="col-auto">
                    <input id="number-of-problems-input"
                           type="number"
                           name="number"
                           th:field="${requestForm.number}"
                           min="1" max="10" step="1"
                           required
                           class="form-control">
                </div>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('number')}" th:errors="${requestForm.number}">Number Error</div>
        </div>
        <div class="mb-3">
            <label>Category:</label>
            <div th:each="category: ${categories}" class="form-check">
                <label style="margin-left: 1em" class="form-check-label">
                    <input type="radio" name="category"
                           th:value="${category}"
                           th:field="${requestForm.category}">
                    <th:block th:text="${#strings.capitalize(category)}">Specific Category</th:block>
                </label>
            </div>
            <div class="error-message"
                  th:if="${#fields.hasErrors('category')}" th:errors="${requestForm.category}">Category Error</div>
        </div>
        <div class="mb-3">
            <div class="row align-items-baseline">
                <div class="col-auto">
                    <label for="difficulty-input">Difficulty Level:</label>
                </div>
                <div class="col-auto">
                    <select id="difficulty-input" name="level" th:field="${requestForm.level}"
                            class="form-select">
                        <option th:value="unknown">&nbsp;--Select--&nbsp;</option>
                        <option th:each="level: ${levels}"
                                th:value="${level}"
                                th:text="${#strings.capitalize(level)}">Difficulty Level</option>
                    </select>
                </div>
            </div>
            <div th:if="${#fields.hasErrors('level')}" class="error-message" th:errors="${requestForm.level}">Level Error</div>
        </div>
        <button type="submit" class="btn btn-primary my-3">Submit Request</button>
    </form>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>