<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../../static/css/header.css">
    <title>Request Form</title>
</head>
<body>
<header th:replace="~{problems/problems-index :: problems-header}"></header>
<main>
    <p>
        <a th:href="@{/index}">Index</a>&nbsp;&#10219&nbsp;
        <a th:href="@{/problems}">Problems</a>&nbsp;&#10219&nbsp;Request Form
    </p>
    <h2>Request Form</h2>
    <form th:action="@{/problems/form/confirm}"
          th:object="${requestForm}"
          method="get">
        <p>
            <label>Number of Problems:&nbsp;
                <input type="number"
                       name="number"
                       th:field="${requestForm.number}"
                       min="1" max="10" step="1"
                       required></label>
            <span class="error-message"
                  th:if="${#fields.hasErrors('number')}" th:errors="${requestForm.number}">Number Error</span>
        </p>
        <p>
            <label style="margin-bottom: 0.5em">Category:</label>
            <th:block th:each="category: ${categories}">
                <label style="margin-left: 1em"><input type="radio" name="category"
                              th:value="${category}" th:field="${requestForm.category}">&nbsp;
                    <th:block th:text="${#strings.capitalize(category)}">Specific Category</th:block></label>
            </th:block>
            <span class="error-message"
                  th:if="${#fields.hasErrors('category')}" th:errors="${requestForm.category}">Category Error</span>
        </p>
        <p>
            <label>Difficulty Level:&nbsp;
                <select name="level" th:field="${requestForm.level}">
                    <option th:value="unknown">&nbsp;--Select--&nbsp;</option>
                    <option th:each="level: ${levels}"
                            th:value="${level}"
                            th:text="${#strings.capitalize(level)}">Difficulty Level</option>
                </select>
            </label>
            <span class="error-message"
                  th:if="${#fields.hasErrors('level')}" th:errors="${requestForm.level}">Level Error</span>
        </p>
        <p>
            <button type="submit">Submit Request</button>
        </p>
    </form>
</main>
<footer th:replace="~{home/home-index :: course-footer}">Some Footer</footer>
</body>
</html>